<ion-view view-title="Акции">
  <ion-content class="has-header" overflow-scroll="true">
    <div class="list card" ng-repeat="i in data">

      <div class="item item-avatar">
        <img ng-src={{i.img}}>
        <h2>{{i.header}}</h2>
        <p>{{i.date}}</p>
      </div>

      <div class="item item-body">
        <p style="text-indent: 10px;">{{i.text}}</p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>

    </div>
  </ion-content>
</ion-view>
