<ion-view view-title="Детали">
<ion-content>
  <div class="list card">
  <div class="item item-body">
    <h2>
      {{::data.name}}
    </h2>
    <p>
      Группа: {{::data.ats4}}
    </p>
    <p>
      Страна: {{::data.country}}
    </p>
    <p>
      Производитель: {{::data.origin}}
    </p>
    <p>
      Цены: {{::data.min}}-{{::data.max}}
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#/app/analog/{{data.analog}}">
      <i class="icon ion-aperture"></i>
      Аналоги
    </a>
    <a class="tab-item" ui-sref="app.map">
      <i class="icon ion-map"></i>
      Карта
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      Share
    </a>
  </div>

</div>
</ion-content>
</ion-view>
