<ion-view view-title="Поиск в базе">

<ion-header-bar class="bar-subheader item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios7-search placeholder-icon"></i>
      <input type="search" placeholder="Поиск"
        data-ng-change="search()"
        data-ng-model="data.search"
        data-ng-minlength="3">
    </label>
    <label class="toggle toggle-calm">
       <input type="checkbox" ng-model="data.queryType" data-ng-change="typeChange()" ng-checked="data.queryType">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
</ion-header-bar>
<ion-content>

  <ion-list>
    <ion-item collection-repeat="item in data.results" data-ng-click="details(item)">
      <h4>{{item.name}}</h4>
      <p>{{item.ats4}}</p>
      <span class="item-note">{{item.country}}</span>
      <p>{{item.min}}-{{item.max}}</p>
    </ion-item>
  </ion-list>
</ion-content>
</ion-view>
